@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --color-1: #023047;
  --color-2: #219ebc;
  --color-3: #8ecae6;
  --color-4: #ffb703;
  --color-5: #fb8500;
  --color-white: #ffffff;
  --color-black: #111111;
  --border-radius: 0.5rem;
  --default-spacing: 1.25rem;

  font-family: 'Merriweather', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.logo img {
  width: 50px;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: var(--default-spacing);
}

.header__search {
  padding: 0.75rem;
  border: 2px solid var(--color-1);
  border-radius: var(--border-radius);
  font-size: 1rem;
  color: var(--color-1);
  flex-grow: 1;
  background-color: var(--color-white);
  outline: none;
}

.header__search:active,
.header__search:focus-visible {
  border: 2px solid var(--color-2);
}

.btn {
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.btn-lg {
  padding: 0.75rem 1.25rem;
}

.btn-primary {
  background-color: var(--color-3);
  color: var(--color-1);
}

.btn-primary:hover {
  background-color: var(--color-2);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-5);
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: var(--color-4);
}

.btn-group__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border: 2px solid var(--color-1);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.btn-group__stock > p {
  font-size: 1rem;
  flex-grow: 1;
  text-align: center;
}

.btn-group__stock > button {
  border-radius: 0;
}

.display {
  display: flex;
}

.sidebar {
  min-width: 200px;
  padding: var(--default-spacing);
}

.sidebar-list {
  list-style: none;
}

.products {
  padding: var(--default-spacing);
  flex-wrap: wrap;
  display: flex;
  gap: 1.25rem;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid var(--color-1);
  box-shadow: 4px 4px var(--color-4);
  border-radius: var(--border-radius);
  padding: var(--default-spacing);
  color: var(--color-1);
  max-width: 32%;
  margin-left: auto;
  margin-right: auto;
}

.products-item__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.products-item__image {
  overflow: hidden;
  max-height: 200px;
  border-radius: var(--border-radius);
}
.products-item__utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-item__price {
  font-weight: bold;
}
.products-item__rating {
  display: flex;
  gap: 0.25rem;
}

.cart-main {
  padding: var(--default-spacing);
}

.cart-list {
  margin: var(--default-spacing) 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}


.cart-list__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: var(--default-spacing) 0;
  border-bottom: 2px solid var(--color-2);
}

.cart-list__item:last-child {
  border:0;
}




.cart-list__item  img{
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: var(--border-radius);
}

.cart-list__item-details {
  flex-grow: 1;
  background-color: inherit;
}


@media (max-width: 768px) {
}

@media (max-width: 460px) {
  .logo p {
    display: none;
  }
}
